<!DOCTYPE html>
<html lang="en">
        <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Trying Tasks</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
        </head>
        <body onload="tl.newList('TaskList')">
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">TryingTasks</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">More</a></li>
            <li><a href="#">Options</a></li>
            <li><a><input id="userNameInputBox" type="text" placeholder="Email address..."></a></li>
            <li><a><input id="passwordInputBox" type="text" placeholder="First Name..."></a></li>
            <li><a><button class="btn btn-success" id="createLoginButton" onclick="tl.createLogin()">Create Account</button></a></li>
            <li><a><button class="btn btn-success" id="loginButton" onclick="tl.login()">Sign in</button></a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <h1 id="WelcomeBanner">Trying Tasks</h1>
        <p class="lead">Welcome to the new Trying Tasks. Jump right in and get started by creating a new task,
                        signing into your account, or creating a new acocunt.</p>
        <p><input class="inputBox" id="taskInputBox" type="text" onchange="tl.taskInit()" placeholder="New task name...">
        <a class="btn btn-success" id="newTaskButton" onclick="tl.taskInit()">Create Task</a></p>
    </div>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <table class = "table" id ="TaskList">
            </table>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
    <hr>
    <p>Created and developed by Brandon Echols</p>
    <script
            data-tax="0"
            data-shipping="0"
            data-currency="USD"
            data-amount="1.00"
            data-quantity="1"
            data-name="Trying Tasks"
            data-button="donate" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=bechols@digis.net" async="async"
    ></script>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/TaskModel.js"></script>
<script src="/javascripts/TaskList.js"></script>
<!--[if lt IE 9]>
<!--<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
<!--[endif]-->
<script>var tl = new TaskList();</script>
</body>
</html>