.hud {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.sign {
    text-align: center;
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: "SketchFlow Print";
}
.signature {
    text-align: center;
    font-family: "Century Gothic";
}
.task{
    text-align: center;
    font-family: "Arial Black";
}
.taskName{
    text-align: left;
}
.taskListMenu{
    /*TODO: add a spacing that is consistent for the header*/
}
.button{
    border-radius: 25px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.divider{
    margin-top: 2%;
    margin-bottom: 2%;
}
#welcomeSign{
    color: #4CAF50; /*green*/
    font-size: large;
    margin-top: 3%;
    margin-bottom: auto;
}
#TaskList {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#TaskMenu{
    margin-left: 40%;
    margin-right: auto;
    align-items: center;
}
#newTaskButton{
}
th{
    color: #4CAF50;
}

input[type="text"] {
}


/*TODO: make the table and its elements have a black border to make a grid*/